a {
  color: #93d5ed; //main color
}

a:link, a:visited {
  color: #93d5ed; //main color
}

a:hover, a:active{
  color: #60A2BA; //20% dark
} 

body {
    background-color: #f7f7f7;
}

.btn-primary {
  background-color: #93d5ed;
  border-color: #93d5ed;
}

.btn-primary:hover {
  background-color: #7ABCD4; //10% dark
  border-color: #60A2BA;
}

.btn-primary:focus,
.btn-primary.focus {
  background-color: #7ABCD4;
  border-color: #60A2BA;
}

.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  background-color: #7ABCD4;
  border-color: #60A2BA;
}

.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
  background-color: #60A2BA;
  border-color: #4789A1;
}

.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary:disabled:focus,
.btn-primary:disabled.focus {
  background-color: #93d5ed;
  border-color: #93d5ed;
}

.btn-primary.disabled:hover,
.btn-primary:disabled:hover {
  background-color: #93d5ed;
  border-color: #93d5ed;
}

.btn-outline-primary {
  color: #93d5ed;
  border-color: #93d5ed;
}

.btn-outline-primary:hover {
  background-color: #93d5ed;
  border-color: #93d5ed;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  background-color: #93d5ed;
  border-color: #93d5ed;
}

.btn-outline-primary:active,
.btn-outline-primary.active,
.open > .btn-outline-primary.dropdown-toggle {
  background-color: #93d5ed;
  border-color: #93d5ed;
}

.btn-outline-primary:active:hover,
.btn-outline-primary:active:focus,
.btn-outline-primary:active.focus,
.btn-outline-primary.active:hover,
.btn-outline-primary.active:focus,
.btn-outline-primary.active.focus,
.open > .btn-outline-primary.dropdown-toggle:hover,
.open > .btn-outline-primary.dropdown-toggle:focus,
.open > .btn-outline-primary.dropdown-toggle.focus {
  background-color: #60A2BA;
  border-color: #4789A1; //30% dark
}

.btn-outline-primary.disabled:focus,
.btn-outline-primary.disabled.focus,
.btn-outline-primary:disabled:focus,
.btn-outline-primary:disabled.focus {
  border-color: #C6FFFF; //%20 lighter
}

.btn-outline-primary.disabled:hover,
.btn-outline-primary:disabled:hover {
  border-color: #FF8AD1;
}

.btn-link {
  color: #93d5ed;
}

.dropdown-item.active,
.dropdown-item.active:focus,
.dropdown-item.active:hover {
  background-color: #93d5ed;
}

.nav-pills .nav-link.active,
aside ul .nav-link.active,
aside ul li a.active, .nav-pills .nav-link.active:focus,
aside ul .nav-link.active:focus,
aside ul li a.active:focus, .nav-pills .nav-link.active:hover,
aside ul .nav-link.active:hover,
aside ul li a.active:hover, .nav-pills .nav-item.open .nav-link,
aside ul .nav-item.open .nav-link,
.nav-pills .nav-item.open aside ul li a,
aside ul .nav-item.open li a, aside ul li .nav-item.open a, .nav-pills .nav-item.open .nav-link:focus,
aside ul .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open aside ul li a:focus,
aside ul .nav-item.open li a:focus, aside ul li .nav-item.open a:focus, .nav-pills .nav-item.open .nav-link:hover, aside ul .nav-item.open .nav-link:hover, .nav-pills .nav-item.open aside ul li a:hover, aside ul .nav-item.open li a:hover, aside ul li .nav-item.open a:hover {
  background-color: #93d5ed;
}

.card-primary, #list-posts article.sticky {
  background-color: #93d5ed;
  border-color: #93d5ed;
}

.card-primary h4.card-title a:hover, #list-posts article.sticky h4.card-title a:hover,
.card-primary .text-muted, #list-posts article.sticky .text-muted{
  color: #14566E !important; //50% dark
}

.card-inverse .card-link, #list-posts article.sticky .card-link, .card-inverse .card-text, #list-posts article.sticky .card-text, #list-posts article.sticky p, #list-posts article.sticky small, .card-inverse .card-subtitle, #list-posts article.sticky .card-subtitle, .card-inverse .card-blockquote .blockquote-footer, #list-posts article.sticky .card-blockquote .blockquote-footer,
.card-inverse .card-header, #list-posts article.sticky .card-header, .card-inverse .card-footer, #list-posts article.sticky .card-footer, .card-inverse .card-title, #list-posts article.sticky .card-title, .card-inverse .card-blockquote, #list-posts article.sticky .card-blockquote,
#list-posts article.sticky a{
  //color: black;
}

.card-outline-primary {
  border-color: #93d5ed;
}

.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
  background-color: #93d5ed;
  border-color: #93d5ed;
}

.page-link {
  color: #93d5ed;
}

.tag-primary {
  background-color: #93d5ed;
}

.tag-primary[href]:focus,
.tag-primary[href]:hover {
  background-color: #7ABCD4;
}


.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: #93d5ed;
  border-color: #93d5ed;
}

.list-group-item.active .list-group-item-text,
.list-group-item.active:focus .list-group-item-text,
.list-group-item.active:hover .list-group-item-text {
  color: #C6FFFF; //20% lighter
}

.bg-primary {
  background-color: #93d5ed !important;
}

a.bg-primary:focus,
a.bg-primary:hover {
  background-color: #7ABCD4 !important;
}

.text-primary {
  color: #93d5ed !important;
}

a.text-primary:focus,
a.text-primary:hover {
  color: #7ABCD4 !important;
}

#list-posts article.sticky .card-footer {
  background-color: #ADEFFF; /*10% lighter*/
  border-top: 1px solid #93d5ed !important;
}

.form-control:focus, input:focus, textarea:focus {
  border-color: #93d5ed;
}

/************* wp-core.less */
/* TODO: Find out and style these classes*/
.bypostauthor {
  color: #93d5ed;
}

.wp-caption {
  color: #93d5ed;
}

.wp-caption-text {
  color: #93d5ed;
}

.gallery-caption {
  color: #93d5ed;
}